services:
  pdf-archiv:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9001:9001"
      - "9002:9002"
    environment:
      PORT: "9002"
    volumes:
      - ./:/app
      - /app/node_modules
    restart: always
